// $Id$
// Categories, Tags

.catlists .catitems {
	display: inline-block;
}

.catlists_block .catitems_block li {
	display: block;
}

.catlists_title {
	padding: 10px 5px 5px 0;
	display: block;
}

.categpath {
	display: block;
}

a.categpath {
	display: inline;
}

.catfeatures {
	margin-left: 0;
	padding: 0;
	font-weight: bold;
	list-style: none
}

.catfeatures .catitems li {
	display: inline;
	margin-right: 7px;
}

.catitems {
	margin-left: 15px;
	padding: 0;
	list-style: none;
}

.catitems li {
	margin-right: 7px;
	display: inline;
}

.categories {
	margin: 0;
	padding: 0;
}

.categories li {
	list-style: none;
	margin: 0;
	padding: 0;
}

// /* Fancy filter - tiki-jquery.js */
.filter {
	.category-picker {
		display: none;
	}
	.fancyfilter {
		min-height: 1.5em;
		min-width: 20em;
		float: left;
		margin-right: 5px;
		//    border: thin solid $btn-default-border/*black*/;
		padding: 0.1em;
		cursor: text;
		.token {
			display: inline-block;
			//      background: $body-bg;
			cursor: default;
			.ui-icon-close {
				float: right;
				cursor: pointer;
			}
		}
	}
}

.Zend_Tag_Cloud li,
.Zend_Tag_Cloud {
	display: inline-block;
	padding: 0;
	margin: 0;
	list-style: none;
}

.filter label {
	display: inline-block;
}

.tree.root .object-count {
	float: right;
	font-weight: bold;
	margin-left: 10px;
	margin-right: 10px;
}

ul.tree {
	padding-left: 3px;
}

// show the flipper icons on category treenodes
.tree.root .form-check {
	margin-left: 1rem;
}
